<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <title>Home - Bienvenid@s</title>
</head>
<body> 
    <header>
        <%- include('../partials/header'); %>
    </header>
        <main>
            <h1>Hola mundo</h1>
            <p>Desde EJS</p>
        </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
        
</body>
</html>