<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <title>Pedidos</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
        <main>
            <h1>Pedidos</h1>
        </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</body>
</html>